.portal-container {
  text-align: center;
  margin-top: 50px;
  min-height: 80vh;
}

.links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.route-link {
  margin: 20px auto;
  background-color: rgb(177, 182, 244);
  text-decoration: none;
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: 800;
  width: 30%;
}

.route-link:hover {
  transition: ease-in-out;
  transition-duration: 200ms;
  background-color: #0b052a;
  color: white;
  transform: scale(105%);
}
