/* Add your basic styling here */
.login {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.login-container {
  border: 1px dotted black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 2.8px 2.8px 0px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 0px rgba(0, 0, 0, 0.028), 12.5px 12.5px 0px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 0px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 0px rgba(0, 0, 0, 0.05), 100px 100px 0px rgba(0, 0, 0, 0.07);
}
.login-container h2 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.login-container form {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 35px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.btn {
  position: relative;
  overflow: hidden;
  height: 2.5rem;
  padding: 0 2rem;
  width: 100%;
  font-size: 18px;
  border-radius: 1.5rem;
  background: #76b8f1;
  color: #fff;
  border: none;
  margin: 20px auto;
  justify-content: center;
}

.btn:hover {
  cursor: pointer;
}

.btn:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: #0b052a;
  transition: all 0.475s;
}
