/* .container {
  padding-top: 50px;
  height: 100vh;
} */

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-container {
  margin-bottom: 20px;
}

.dropdown {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  box-sizing: border-box;
}

.file-upload-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.file-input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}

.file-label {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
}

.upload-button {
  background-color: #2ecc71;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-button:hover {
  background-color: #27ae60;
}

.upload-button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}
